.entry
{
    font-size:18px;
    height: 80px;
    margin-left: auto;
    margin-right: auto ;
    padding:10px 10px 80px 50px;
    float: left;
}

body
{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding:20px 20px 20px 20px;
}

img
{
    width:100px;
}

#site
{
    background-color: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.header-text
{
    padding-bottom: 20px;
    background-color: #ffa200;
    padding-top: 20px;
    padding-left: 30px;
    font-size:18px;
    font-weight: bold;
    font-family: Verdana, Geneva, sans-serif;
    margin-left: auto ;
    margin-right: auto ;
}

.footer-small
{
    font-size: 10px;
}

.footer-text
{
    font-size: 12px;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 20px 20px;
    clear: both;
}

.books {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.books td, .books th {
  border: 1px solid #ddd;
  padding: 8px;
  width: 50%;
}

.books tr:nth-child(even){background-color: #f2f2f2;}

.books tr:hover {background-color: #ddd;}

.books th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ffa200;
}
