<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link href="main.css" rel="stylesheet" type="text/css" />
<title>{{ $.Title }}</title>
</head>
<body>
    <div id="site">
        <div class="header-text">{{ $.Header }}<br /></div>
        <div id="main">
        {{range $key, $value := $.Links }}
            <br />
            <a href="{{ $value.Href }}"><div class="entry">{{ $value.Display }}</div></a>
        {{ end }}
        </div>
        <div class="footer-text"><hr />
            <div class="footer-small">
                <p>You may also know me from:</p>
                <p>
                <ul>
                    {{range $key, $value := $.Places}}
                    <li>{{ $value.Name}} - {{ $value.From }} to {{ $value.To }}</li>{{end}}
                </ul>
                </p>
                <p>Contact me here if needed: 
                <a href="mailto:{{ $.Mail }}">{{ $.Mail }}</a></p>
                Updated: {{ $.Date }}
            </div>
        </div>
    </div>
</body>
</html>
